#signupButton {
    color: #fff;
    background-color: #f28903;
}

#signupButton:hover {
    color: #fff;
    background-color: #95b420;
}

#signup {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 2rem;
}

.mastodon.button {
    color: #d9e1e8;
    background-color: #2b90d9;
}

.mastodon.button:hover {
    color: #d9e1e8;
    background-color: #2086ce;
}